:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --main-bg-color: #f5f5f5;
  --secondary-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --white-text-color: #ffffff;
  --black: #000000;
  --bg-preview:#C4C4C4;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: var(--white-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
address {
  font-style: normal;
}
button {
  font-family: inherit;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.logo {
  display: block;
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none; 
}

.page-header__logo {
  color: var(--title-text-color);
  padding: 24px 0 25px 0;
}

.logo__label {
  color: #2196f3;
}


.container {

  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  outline: 1px solid transparent;
}

.flex-container {
  display: flex;
}

.page-header {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  
  align-items: center;
  justify-content: center;
}

.page-header__navigation {
  align-items: center;
}

.centerbox {
  display: flex;
}
.page-header__nav{
  margin-left: 60px;
  align-items: center;

}



.page-header__item:not(:last-child) {
  margin-right: 50px;
}

.page-header__link {
  display: inline-block;
  position: relative;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__link:hover,
.page-header__link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
position: absolute;
content: "";
width: 100%;
height: 3px;
border-radius: 2px;
bottom: -1px;
left: 0;
background-color: var(--accent-color);
}

.contacts {
  justify-content: center;
  align-items: center;
  margin-left: auto;  
}
.contacts__item:not(:last-child) {
  margin-left: 50px;
}

.contacts__link {
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  display: inline-block;
 fill: currentColor;
 margin-right: 10px;
 vertical-align: middle;
 transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts__icon:hover{
  fill: #2196f3;
}

.preview {
  text-align: center;
}

.preview__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.preview-container {
  max-width: 700px;
}

.preview__image-wrapper {
  padding: 200px 0;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background:linear-gradient(#2F303A66, #2F303A66), url(../images/herooptim.jpg),#C4C4C4;
}

.preview__button { 
  margin: 0 auto;
  min-width: 152px;
  padding: 10px 32px;
  border-radius: 4px;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  display: inline-block;
  text-align: center;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.preview__button:hover,
.preview__button:focus {
  color: var(--white-text-color);
  background-color:#39a0f5;
}


.button-grey {
  font-family: 'Roboto';
  display: block;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.73;
  border-radius: 4px;
  border: 1px solid transparent;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-grey:hover,
.button-grey:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Section */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title--style {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.advantages.section {
    padding-bottom: 0;
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
}

.advantages__subtitle {
  margin-top: 0;
  font-size: 14px;
  line-height: 1.7;
}

.advantages__icon {
  width: 270px;
  height:120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  background-color: #F5F4FA;
  border-radius: 4px;
}



.work__item {
  position: relative;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}


.work__description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  ;
}


.work__description-style {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;


color: #FFFFFF;
}


.workers__item:not(:last-child) {
  margin-right: 30px;
}


.workers__item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.workers__text-wrapper {
  padding: 30px 0;
}

.workers__name {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-decoration: none;
  text-align: center;
}

.workers__profession {
  margin-top: 0;
  font-size: 16px;
  line-height: 1.18;
  text-decoration: none;
  text-align: center;
}

.workers {
  background-color: #f5f5f5;

}


.footer {
  padding: 60px 0;
  background-color: var(--dark-bg-color);
}

.address__link--style {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__street {
  color: #ffffff;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}

.address__link--style:hover,
.address__link--style:focus {
  color: var(--accent-color);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}


.btn-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  
}

.btn-list .btn:not(:last-child) {
  margin-right: 8px;
}

.btn-list .btn:last-child {
  margin-right: 0;
}
.projects {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects .project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}


.projects-border {
padding: 20px 24px;
border-color: #eeeeee ;
border-style: solid;
border-width: 0 1px 1px 1px ;
}


.flex-element  {
   
}


.type {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.workers__social-list { 
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
 
} 

.social__link {
  color: rgba(175, 177, 184, 1);
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}



.social__icon {
  fill: currentColor;
}

.social__link:hover,
.social__link:focus {
  background-color: #2196f3;
  color:var(--white-text-color) ;
}


.footer-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}

.footer__contacts-wrapper {
  margin-right: 70px;
}

.footer__logo {
  display: inline-block;
  color: var(--white-text-color);
  margin-bottom: 20px;
}

.joinbox__title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;

}

.joinbox__social-link {
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
  background-color:rgba(255, 255, 255, 0.1);
  color: var(--secondary-bg-color);

}

.joinbox__social-link:hover,
.joinbox__social-link:focus {
background-color:var(--accent-color);
 }

 .joinbox__social-item:not(:last-child) {
  margin-right: 10px;
 }
.costumers__list {
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.costumer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: rgba(175, 177, 184, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

}

.costumer__link:hover,
.costumer__link:focus {
  color:#2196f3;
  border-color: #2196f3;
}

.costumer__logo {
 fill: currentColor;

}

.flex-element .link {
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.flex-element .link:hover,
.flex-element .link:focus
 {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
   0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
 }


 .thumb {
  position : relative;
  overflow: hidden;
 }

 .text-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .flex-element .link:hover .text-box,
 .flex-element .link:focus .text-box {
  transform: translateY(0%);
}


.project-description {
font-size: 18px;
line-height: 1.55;
letter-spacing: 0.03em;
color: var(--white-text-color);
 }

 .backdrop {
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);

 }

 .backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
 }

 .modal {
  position: absolute;
  width:528px;
  height: 581px;
  top: 50%;
  left: 50%;
  background-color: #F5F4FA;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
  0px 1px 1px rgba(0, 0, 0, 0.14),
 0px 2px 1px rgba(0, 0, 0, 0.2);
 }


 .modal-close-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
 }